<!doctype html>
{% extends "workspace/home.html" %}


{% block content %}
<div class="container">
            <div class="content__inner">
                <div class="content__card">
                </div>
                <div class="content__card content__card--large">
                    <form method="post">
                    {% csrf_token %}
                    {{ form_register.as_p }}
                    <button type="submit">Зарегистрироваться</button>
                    </form>
                </div>
                <div class="content__card">
                </div>
            </div>
        </div>

{% endblock %}


