<!doctype html>
{% extends "workspace/home.html" %}

 <!-- Content -->
{% block content %}
<div class="container">
            <div class="content__inner">
                <div class="content__card">
                    <form method="post" action="{% url 'user_no_perms' %}">
                        {% for user in user_without_perms %}
                            {% csrf_token %}
                            {{ user.username }}
                            <button type="submit" name="user_no_perms" value="{{ user.id }}">
                                Одобрить
                            </button>
                        <p>
                        {% endfor %}
                        <p></p>
                    -------------------
                    <p></p>
                    Возвраты:
                    </form>
                    {% for refund in refund_for_admin %}
                        {{ refund.date }}
                        {{ refund.date_achieve }}
                        {{ refund.user }}
                    {% endfor %}
                </div>
                <div class="content__card content__card--large">
                   {% if outlet_for_admin %}
                     <table border="1">
                       <caption>Просмотренных ТТ за сегодня</caption>
                       <tr>
                        <th>Дата</th>
                        <th>Название ТТ</th>
                        <th>Оператор</th>
                           {% for outlet in outlet_for_admin %}
                       </tr>

                       <tr><td>{{ outlet.date_time }}</td>
                           <td>{{ outlet.give_outlet.name }}</td>
                           <td>{{ outlet.give_user }}</td>
                       </tr>
                         {% endfor %}
                      </table>
                    {% endif %}
                </div>
                <div class="content__card">
                    <form action="{% url 'create_task' %}" target="_blank">
                        <button>Создать задачу</button>
                        {% if task_admin %}
                        <p>
                            Поставленные задачи:
                            <p>
                            {% for task in task_admin %}
                                {{ task.date_time }}
                                {{ task.operator }}
                                {{ task.outlet }}
                                <p>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

