<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<!-- NavBar Here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">{{ user.username }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Домашняя <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'admin_page'%}">Админка</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
            <a class="nav-item nav-link" href="{{ obj_file.app_for_time.url }}">Скачать</a>
        </div>
    </div>
</nav>

<!-- Сontent -->
<div class="container">
{% block content %}

    <div class="row">
        <div class="col  m-3 text-left">
            <h6>Просмотренно книг за месяц:</h6>
            {% for user, count in count_users.items %}

                {{ user }}
                {{ count}}
                <p>
            {% endfor %}
            <p></p>
            <h6>Возвраты:</h6>
            <form method="post"  action="{% url 'refund_done' %}">
                {% csrf_token %}
                {% for refund in refund_for_user %}
                {{ refund.date }}
                <button class="btn btn-dark btn-sm" type="submit" value="{{ refund.id }}" name="refund_id">Готово
                </button>
                <p></p>
                {% endfor %}
            </form>
        </div>
        <div class="col m-3 text-middle">
            {% if get_work_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ get_work_error }}
                    </div>
                    {% endif %}
            <h6>В работе сегодня:</h6>
            {% for outlet in choose %}

            <ul class="list-group">
                <li class="list-group-item">{{ outlet.give_outlet.name }}</li>
            </ul>
            {% endfor %}
            <p></p>
            {% if task_user %}
            <h6>Задача от администрации:</h6>
            {% for task in task_user %}
            <ul  class="list-group">
                <li class="list-group-item">{{ task.outlet.name }}</li>
            </ul>
            {% endfor %}
            <form method="post" action="{% url 'task_perform' %}">
                {% csrf_token %}
                <button class="btn btn-dark btn-sm" type="submit" name="user_id" value="{{ user.id }}">
                    Выполнено
                </button>
            </form>
            {% endif %}
        </div>
        <div class="col  m-3 text-right">

                <form action="{% url 'get_work' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-info btn-sm" type="submit">
                        Получить работу
                    </button>
                </form>

                <p>
                <form action="{% url 'get_work' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-info btn-sm" type="submit" name="one_tt" value="1">
                        +1
                    </button>
            </form>

        </div>
    </div>

    {% endblock %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>