<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normal.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Рабочий кабинет</title>
</head>
<body>
<div class="wrapper">

    <div class="content">

        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="header__inner">
                     <a href="{% url 'home' %}">Рабочий кабинет</a>
                    <div class="header__person">
                        {{ user.username }}
                        <a href="{% url 'admin_page'%}">Админка</a>
                        <a href="{% url 'logout' %}">Выход</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Content -->
        {% block content %}
        <div class="container">
            <div class="content__inner">
                <div class="content__card">
                    Просмотренно книг за месяц:
                    <p></p>
                    {{ count_users }}
                    <p></p>
                    -------------------
                    <p></p>
                    Возвраты:
                     <p></p>
                    <form method="post", action="{% url 'refund_done' %}">
                        {% csrf_token %}
                        {% for refund in refund_for_user %}
                            {{ refund.date }}
                            {{ refund.date_achieve }}
                            <button type="submit" value="{{ refund.id }}" name="refund_id">Готово</button>
                         <p></p>
                        {% endfor %}
                    </form>
                </div>
                <div class="content__card content__card--large">
                    В работе сегодня:
                     <p></p>
                        {% for outlet in choose %}
                            <ul>
                                <li>{{ outlet.give_outlet.name }}</li>
                            </ul>
                        {% endfor %}
                        {% if task_user %}
                            <p></p>
                            -------------------
                            <p></p>
                            Задача от администрации:
                            {% for task in task_user %}
                                <ul>
                                    <li>{{ task.outlet.name }}</li>
                                </ul>
                            {% endfor %}
                            <form method="post" action="{% url 'task_perform' %}">
                                {% csrf_token %}
                                <button type="submit" name="user_id" value="{{ user.id }}">
                                    Выполнено
                                </button>
                            </form>
                        {% endif %}

                </div>
                <div class="content__card">
                    <form action="{% url 'get_work' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                        Получить работу
                    </button>
                        {% if get_work_error %}
                            {{ get_work_error }}
                        {% endif %}
                    </form>
                    <form action="{% url 'get_work' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="one_tt" value="1">
                        +1
                    </button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <h4></h4>
                <a href="{{ obj_file.app_for_time.url }}" download>Программа для подсчета офлайна</a>
            </div>
        </div>
    </footer>

</div>
</body>
</html>