<!doctype html>
{% extends "workspace/home.html" %}

 <!-- Content -->
{% block content %}
<div class="container">
            <div class="content__inner">
                <div class="content__card">
                </div>
                <div class="content__card content__card--large">
                    <form method="post" action="{% url 'create_task' %}">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <p>
                        <button type="submit">Создать</button>
                    </form>
                </div>
                <div class="content__card">
                    {% if task_admin %}
                        <p>
                            Поставленные задачи:
                            <p>
                            {% for task in task_admin %}
                                {{ task.date_time }}
                                {{ task.operator }}
                                {{ task.outlet }}
                                <p>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
        </div>

{% endblock %}

