<!doctype html>
{% extends "workspace/home.html" %}

 <!-- Content -->
{% block content %}
<div class="container">
            <div class="content__inner">
                <div class="content__card">
                </div>
                <div class="content__card content__card--large">
                    <h4> {{ user.username }} пожалуйста дождитесь одобрения вашей учётной записи администрацией.</h4>
                </div>
                <div class="content__card">
                </div>
            </div>
        </div>

{% endblock %}

